body{
	margin-right: 30%;
	margin-left: 30%;
	border: groove;
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
}

#message-area {
	text-align: right;
	padding-right: 25%;
	width: 100%;	
}

#box {
	width: 100%;
}